@model EditTagViewModel

<div class="container-fluid pt-4 px-4">
	<div class="col-sm-12 col-xl-6">
		<div class="bg-secondary rounded p-4">
			<h3>Edit</h3>
			<form method="post">
				<div class="mb-3">
					<label class="form-label">Name</label>
					<input type="text" class="form-control" asp-for="Name" placeholder="@Model.Name">
					<span asp-validation-for="Name"></span>
				</div>
				<button type="submit" class="btn btn-primary mb-3" asp-route-id="@Model.Id">Edit</button>
			</form>
			<a asp-action="Index" asp-controller="Tag">&#8592 Back to List</a>
		</div>
	</div>
</div>